* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}


html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(52,73,94);
  font-size: 20px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: rgb(236,240,241);
}

.container,
#game-dashboard {
  display: flex;
  min-width: 700px;
  margin: 0;
  padding: 10px 0 0 0;
  justify-content: space-around;
  flex: 1;
}

#game {
  position: relative;
  flex: 1 0 840;
  overflow-x: hidden;
}

.HUD {
  position: absolute;
  top: 10px;
  padding: 0 10px;
  transition: opacity 0.15s;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hud-main-menu {
    justify-content: flex-end;
  }

  a {
    min-width: 50px;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(125, 216, 83);
    box-shadow: 0 -5px 5px rgb(83, 154, 51) inset;
    border-radius: 5px;
    color: rgb(238, 238, 238);
    font-family: 'Space Mono';
    text-align: center;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      background-color: rgb(115, 205, 75);
    }
  }

  .red {
    background-color: rgb(231,76,60);
    box-shadow: 0 -5px 5px rgb(189, 65, 51) inset;

    &:hover {
      cursor: pointer;
      background-color: rgb(219, 73, 56);
    }
  }
}

.action-board,
.action-selection,
.command-queue {
  display: none;
  flex-direction: column;
  flex: 1 0 300px;
}

.action-board {
  visibility: hidden;
  background-color: rgb(236,240,241);
  height: 700px;
  width: 300px;
  overflow-x: hidden;
}

.action-selection {
  flex: 2 0 200px;
  width: 300px;
}

.player-select,
.map-select {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 50px;
  color: rgb(236,240,241);
  transition: visibility 3s;
  overflow: hidden;

  &__header {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h1 {
      flex: 2;
      margin-bottom: 10px;
    }

    .btn-area {
      flex: 3;
      height: 100%;
      padding-top: 5px;
      margin-left: 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .popup-link {
        font-size: 1em;
        opacity: 1;
        background-color: rgb(115, 199, 76);
        color: rgb(238, 238, 238);
        box-shadow: 0 -2px 5px rgb(83, 154, 51) inset;
        border-radius: 5px;
        font-family: 'Space Mono';
        text-align: center;
        min-width: 50px;
        margin-left: 20px;
        height: 40px;
        padding: 7px 10px;
        text-transform: uppercase;
        border: none;
        outline: none;
        transition: background-color 0.2s;


        &:hover {
          background-color: rgb(115, 205, 75);
        }
      }
    }
  }

  &__list {
    display: flex;
    width: 102%;
    flex-direction: column;
    overflow-y: auto;
    height: 587px;
    background-color: rgb(189,195,199);
    padding: 10px;

    &__item {
      flex-shrink: 0;
      position: relative;
      padding: 0 5px 5px 5px;
      background-color: rgb(236,240,241);
      color: #434343;
      align-self: center;
      list-style: none;
      height: 100px;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      transition: all 0.1s ease-in;

      .not_found {
        height: 100%;
      }

      &:hover:not(.not_found) {
        cursor: pointer;
        box-shadow: -5px 0 2px -2px #1976d2 inset;
        color: #2196f3 !important;
        width: 81%;

        .has,
        .none {
          color: #2196f3 !important;
        }
      }

      .item__play-data {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: center;
      }

      .item__username,
      .item__mapname {
        flex: 1;
        align-self: center;
        text-align: center;
      }

      .item__character {
        display: block;
        height: 140px;
        padding-left: 30px;
        img {
          display: block;
          width: 70px;
        }
      }

      .item__has-moves {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: center;

        & .has {
          color: rgb(26,188,156);
        }

        & .none {
          color: rgb(231, 76, 60);
        }
      }
    }
  }
}

.map-select__list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 1.5%;
  width: 40%;
  position: relative;

  img {
    height: 250px;
    width:100%;
  }

  figcaption {
    bottom: 5px;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #434343;
    opacity: 0.8;
    font-weight: bold;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    font-size: 12px;
    text-align: center;

    &:hover {
      font-weight: bold;
    }
  }
}

button {
  font-size: 1em;
  width: 100%;
  text-align: left;
  padding: 10px;
  user-select: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.4s;

  &:disabled {
    opacity: .7;
  }

  &:not([disabled]):hover {
    cursor: pointer;
    background-color: rgb(46,204,113);
    color: rgb(236,240,241);
  }

  .action-selection > .action &:last-child {
    background: #1976d2;
    color: rgb(236,240,241);
    text-align: center;

    &:not([disabled]):hover {
      box-shadow: 0 0 0 40px #2196f3 inset;
    }
  }

  &[data-action="jumpRight"] i {
    transform: rotate(45deg);
  }

  &[data-action="jumpLeft"] i {
    transform: rotate(-45deg);
  }
}

.command-queue {
  flex: 3 0 200px;
  padding: 8px;
  width: 102%;

  &__header {
    display: flex;
    margin-bottom: 10px;
    height: 43px !important;
    flex: 1;

    &__title {
      flex: 3;
    }

    &__title + button#clear {
      flex: 1;
      background-color: rgb(231,76,60);
      color: rgb(236,240,241);
      text-align: center;
      border-radius: 5px;

      &:not([disabled]):hover {
        background-color: rgb(192,57,43) !important;
      }
    }
  }

  & ol {
    flex: 6;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px 0;
  }

  &__item {
    width: 265px;
    height: 26px;
    margin: 2px;
    font-size: 16px;
    padding: 4px;
    padding-bottom: 3px;
    border: none;
    border-radius: 5px;
    color: rgb(236,240,241);
    text-align: center;
    vertical-align: middle;
    font-family: FontAwesome;

    &--run {
      &Left {
        background-color: #03a9f4;
        &::before {
          content: "\f060";
        }
      }
      &Right {
        background-color: #03a9f4;
        &::before {
          content: "\f061";
        }
      }
    }

    &--jump {
      &Left {
        background-color: #00bcd4;
        &::before {
          display: block;
          transform: rotate(-45deg);
          content: "\f062";
        }
      }
      &Right {
        background-color: #00bcd4;
        &::before {
          display: block;
          transform: rotate(45deg);
          content: "\f062";
        }
      }
    }

    &--climb {
      background-color: rgb(230,126,34);
      &::before {
        content: "\f062";
      }
    }

    &--push {
      background-color: rgb(120, 85, 72);
      &::before {
        content: "\f256";
      }
    }

    &--open {
      background-color: rgb(254, 192, 7);
      &::before {
        content: "\f084";
      }
    }

    &--kill {
      background-color: rgba(254, 7, 7, 0.596);
      &::before {
        content: "\f255";
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: flex;
  width: 100%;
  padding: 10px;
  color: rgb(236,240,241);
  background-color: rgb(44,62,80);
  justify-content: space-between;
}

#popup,
#help,
#qr {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin-top: -100vh;

  &:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 999;
    transition:all 1s;
  }
}

.popup-container,
.help-container,
.qr-container {
  position: relative;
  margin: 20px auto;
  padding: 30px 50px;
  background-color: rgb(236,240,241);
  color: #333;
  border-radius: 3px;
  width: 840px;
  height: 700px;
  transition: all 1s;
  border-radius: 5px;

  .popup-close,
  .help-close,
  .qr-close {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #333;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:rgb(236,240,241);
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: #333;
      background-color: rgb(236,240,241);
    }
  }
}

.help-container,
.qr-container {
  padding: 0;

  .instructions,
  .qr-img {
    width: 850px;
    height: 750px;
    border-radius: 5px;
  }
}

form {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    padding: 8px;
    border: 1px solid rgb(236,240,241);
    margin: 10px 0 30px 0;
    font-family: 'Segoe UI', sans-serif;
    color: #636363;
    font-weight: bold;

    &:focus {
      border-color: #1976d2;
    }
  }

  .characters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    label {
      flex-basis: 246px;
    }

    label > input {
      visibility: hidden;
      position: absolute;

      &:checked + img {
        padding-bottom: 3px;
        border-bottom: 2px solid #1976d2;
      }
    }
    label > input + img {
      cursor: pointer;
      border: 2px solid transparent;
      height: 100px;
    }
  }

  button[type="submit"] {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 20px;
    border: 1px solid rgb(236,240,241);
    color: rgb(236,240,241);
    padding: 8px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #1976d2 !important;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 40px #2196f3 inset !important;
    }
  }
}

.glow {
  box-shadow: 0 1px 5px purple;
}

.loading {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}